#######################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio. ... NOT
#######################################################################################

node_modules
dl
/dreamlet/packages
/dreamlet/*/bin
/dreamlet/*/obj
/notes
