#######################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio. ... NOT
#######################################################################################

node_modules
dl
/dreamlet.server/packages
/dreamlet.server/*/bin
/dreamlet.server/*/obj
/notes
/dreamlet.server/TestResults
